#forgot_password.html

{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<h1>Reset Password</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
    </div>
    <div>
        {{ form.new_password.label }}<br>
        {{ form.new_password(size=32) }}
    </div>
    <div>
        {{ form.confirm_password.label }}<br>
        {{ form.confirm_password(size=32) }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}